<%= stylesheet_link_tag "application.css" %>

<div class="wrapper">
  <div class="credentials">
  <% @quizzes.each do |quiz| %>
  <%= link_to quiz.name, quiz_path(quiz) %><br>
  <% end %>
  </div>
</div>