/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .menu {
  text-align: right;
}

.wrapper {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

.wrapper h1,h2,h3,h4{
  font-family: open-sans, arial;
}

.title{
  font-size: 2em;
  grid-area: 1 / 2 / 2 / 5;
  text-align: center;
}

.cbutton {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  height: 50px;
  width: 100px;
  color:white;
  font: bold 15px arial, sans-serif;
  background-color:rgba(255, 0, 0, 0.0);
}

.cbutton:hover {
  color: black;
  border-color: #0066A2;
  border-style: outset;
  height: 50px;
  width: 100px;
  font: bold 15px arial, sans-serif;
}

.credentials {
  display: inline-block;
  background-color:#015CFE;
  font-size: 2em;
  color: white;
  font-family: Arial;
} 

.questions {
  font-size: 2em;
  text-align: center;
  font-family: Arial;
  grid-area: 3 / 2 / 6 / 5; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  border-style: solid;
  border-width: 2px;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: open-sans, arial;
}

a:visited {
  color: white;
}

li a:hover {
  color: black;
}

div a { 
  color:black;
}

body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

h1, h6 {
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
}

@-webkit-keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}
